@import "_vars";
@import "_global";
@import "_fonts";

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  color: #000;
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
body {
  font-family: "Bebas", arial;
  font-weight: 400;
  overflow-x: hidden;
}
.title {
  font-size: 18px;
  line-height: 1.2;
  color: #e8603c;
}
// start header
.header {
  padding: 22px 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: 36px;
  line-height: 1.2;
  color: #e8603c;
}
.header__logo span {
  color: #f3af9d;
}
.header__navigation li a {
  font-size: 16px;
  line-height: 1.2;
  color: #b9b9b9;
}
.header__navigation li a:hover {
  color: #e8663c;
}
.header__navigation li + li {
  margin-left: 26px;
}
.header__menu-btn {
  width: 30px;
  display: none;
  cursor: pointer;
}
.header__menu-row {
  width: 100%;
  background-color: #e8603c;
  height: 4px;
  margin-bottom: 4px;
}
.header__bredcr {
  margin-top: 22px;
  background-color: #e8603c;
  display: block;
  h3 {
    color: #ffffff;
    font-size: 24px;
    line-height: 32px;
    padding: 14px 19px;
    position: relative;
    &::before {
      right: 100%;
      margin-right: 30px;
    }
    &::after {
      left: 100%;
      margin-left: 30px;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      background: rgba(232, 96, 60, 0.5);
      height: 60px;
      width: 100%;
      top: 0;
    }
  }
}

// end header
// start slider
.slider{
  .slick-arrow {
    border: none;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 45%;
    z-index: 5;
    outline: none;
}
.slick-prev {
  left: 16px;
}
.slick-next {
  right: 15px;
}
}
.slider__item {
  position: relative;
}
.slider__item img {
  max-width: 100%;
}
.slider__item-desc h3 {
  font-size: 18px;
  line-height: 1.2;
  color: #ffffff;
}
.slider__item-desc p {
  font-family: HelveticaNeue;
  font-size: 12px;
  line-height: 1.2;
  color: #ffffff;
}
.slider__item-desc {
  position: absolute;
  bottom: 32px;
  left: 54px;
  max-width: 413px;
  padding-left: 18px;
  opacity: 0.8;
  background-color: #e8663c;
}
.sl__slide {
  padding-right: 20px;
}
.sl__slide img {
  max-width: 100%;
}
.slider__min {
  margin-top: 16px;
}
.slider__inner {
  position: relative;
}
.slick-next,
.slick-prev {
  z-index: 10;
}
.slick-next:before,
.slick-prev:before {
  content: "";
}
.slick-prev {
  left: 25px;
}
.slick-next {
  right: 25px;
}
.slider__inner::before,
.slider__inner::after {
  content: "";
  background: rgba(232, 96, 60, 0.5);
  height: 60px;
  width: 100%;
  position: absolute;
  top: 0;
}
.slider__inner::before {
  right: 100%;
  margin-right: 10px;
}
.slider__inner::after {
  left: 100%;
  margin-left: 10px;
}
.slick-prev,
.slick-next {
  width: 36px;
  height: 52px;
}
// end slider
// start portofio
.portofio {
  margin-top: 40px;
}
.portofio__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.portofio__item {
  max-width: 275px;
  font-size: 12px;
  line-height: 24px;
  color: #e8663c;
}
.portofio__item p {
  font-family: HelveticaNeue;
  line-height: 18px;
  color: #414141;
}
.portofio__item a {
  color: #ffffff;
  background-color: #e8663c;
  padding: 4px 15px;
}
.portofio__title {
  padding-left: 70px;
  position: relative;
}
.portofio__title::before {
  content: "";
  position: absolute;
  left: 0;
  background-image: url(../images/icons/option.svg);
  width: 46px;
  height: 46px;
}
.portofio__title-vote::before {
  background-image: url(../images/icons/vote.svg);
  width: 49px;
  height: 41px;
}
.portofio__title-people::before {
  background-image: url(../images/icons/people.svg);
  width: 42px;
  height: 40px;
}
// end portofio
// start works
.works {
  padding: 50px 0;
}
.works__title {
  position: relative;
  margin-bottom: 26px;
}
.works__title::after {
  content: "";
  position: absolute;
  background-image: url(../images/Thing.png);
  width: 100%;
  height: 100%;
  margin-left: 20px;
}
.works__item {
  max-width: 220px;
}
.works__item-box {
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-top: none;
  line-height: 18px;
  padding-left: 13px;
  padding-bottom: 13px;
}
.works__item a {
  font-size: 16px;
  color: #b9b9b9;
  display: block;
  padding-top: 13px;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.works__item-box span {
  font-size: 11px;
  color: #e8663c;
}
// end works
// start footer
.footer__inner {
  display: flex;
  justify-content: space-around;
}
.footer__item {
  background-color: #e8663c;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  padding: 38px 35px;
}
.footer__title {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
  padding-bottom: 28px;
}
.footer__text {
  font-family: "Helvetica Neue";
  font-size: 12px;
  line-height: 1.2;
}

.footer__text-link {
  color: #f3b29d;
}
.footer__text li + li {
  margin-bottom: 10px;
}
.footer__inner {
  position: relative;
}
.footer__inner::before,
.footer__inner::after {
  content: "";
  background: rgba(232, 96, 60, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
.footer__inner::before {
  right: 100%;
  margin-right: 10px;
}
.footer__inner::after {
  left: 100%;
  margin-left: 10px;
}
.footer__icons {
  padding-top: 20px;
}
.footer__item-link {
  font-family: HelveticaNeue;
  font-size: 12px;
  line-height: 1.2;
  color: #ffffff;
}
.footer__item-mail {
  margin-top: 15px;
}
.footer__text-link--follow {
  display: block;
}
.footer__text-link--hous {
  margin-top: 8px;
}

// end footer
// start about
.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.about__aside {
  max-width: 220px;
  width: 100%;
}
.aside__item {
  padding-bottom: 40px;
  font-family: "Helvetica Neue";
  P {
    color: #464646;

    font-size: 12px;
    padding-top: 20px;
    line-height: normal;
  }
  ul {
    li {
      display: block;
      a {
        font-size: 12px;
        font-family: "Helvetica Neue";
        font-weight: 500;
      }
    }
  }
}
.aside__title {
  color: #e8603c;
  font-size: 14px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-image: url(../images/Thing.png);
    width: 126px;
    height: 100%;
    margin-left: 20px;
  }
}
.about__content {
  max-width: 648px;
  width: 100%;
}
.about__desc {
  p {
    font-family: "Helvetica Neue";
    font-size: 12px;
    color: #414141;
    font-size: 12px;
    line-height: 18px;
  }
  .about__mike {
    display: flex;
    margin: 30px 0;
    p {
      padding-left: 20px;
    }
  }
  .about__d {
    padding-top: 26px;

    span {
      float: left;
      font-family: "Helvetica Neue";
      font-size: 36px;
      color: #e8603c;
      padding-right: 25px;
    }
  }
  .about__line {
    font-family: "Helvetica Neue - Light Italic";
    font-size: 12px;
    line-height: 18px;
    color: #414141;
    padding-left: 80px;
    position: relative;
    margin-top: 35px;
    margin-bottom: 30px;
    &::before {
      content: "";
      position: absolute;
      background-color: #e8663c;
      width: 8px;
      height: 79px;
      left: 53px;
      margin-right: 18px;
    }
  }
  .about__colomn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .long {
      max-width: 310px;
      margin-bottom: 30px;
      width: 100%;
    }
    .short {
      max-width: 210px;
      width: 100%;
      margin-bottom: 40px;
    }
  }
}
.about__alert {
  .alert__message {
    font-family: "Helvetica Neue";
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding: 26px 0;
    &.green {
      color: #98c601;
      border: 1px solid #98c601;
      background-color: #effeb9;
    }
    &.red {
      border: 1px solid #eb5439;
      background-color: #fbcbc1;
      color: #eb5439;
    }
    &.yellow {
      border: 1px solid #fab418;
      background-color: #ffe9ad;
      color: #fab418;
    }
    &.blue {
      border: 1px solid #4d8fcb;
      background-color: #d1e4f3;
      color: #4d8fcb;
    }
  }
}
// end about
// start contact
.contact__form {
  display: flex;
  padding: 40px 0;
  form {
    width: 100%;
    margin-left: 35px;
  }
  input {
    display: block;
    border: 1px solid #e8603c;
    padding: 11px 13px;
    font-size: 12px;
    line-height: 28px;
    margin-bottom: 12px;
    &::placeholder {
      color: #e8603c;
      font-size: 12px;
      line-height: 28px;
    }
  }
  textarea {
    resize: none;
    height: 205px;
    padding: 13px;
    width: 100%;
    border: 1px solid #e8663c;
    padding: 13px;
    font-size: 12px;
    line-height: 28px;
    &::placeholder {
      color: #e8603c;
      font-size: 12px;
      line-height: 28px;
    }
  }
  button {
    color: #ffffff;
    font-size: 12px;
    line-height: 24px;
    padding: 10px 16px;
    background-color: #e8663c;
    border: none;
  }
}
.contact__form-desc {
  max-width: 177px;
  width: 100%;
  font-family: "Helvetica Neue";
  font-size: 12px;
  line-height: 14px;
  color: #414141;
  p {
    margin-bottom: 15px;
  }
}
.contact__form-adress {
  max-width: 110px;
  &__title {
    color: #e8603c;
    font-weight: 700;
  }
}
.contact__form-phone {
  padding-top: 16px;
  max-width: 136px;
  span {
    font-weight: 700;
  }
}
// end contact
// start blog
.blog__items {
  position: relative;
  .blog__items-info {
    position: absolute;
    background-color: #e8603c;
    display: inline-block;
    padding: 22px;
    left: -110px;
    width: 75px;
    height: 75px;
    &.quote {
      padding: 19px;
      padding-bottom: 0;
      font-size: 72px;
      color: #ffffff;
      font-family: Georgia;
      line-height: normal;
    }
    &.chain{
      padding: 19px;
    }
  }
}
.blog__item {
  .slick-prev {
    left: 175px;
  }
  .slick-arrow {
    border: none;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 45%;
    z-index: 5;
    outline: none;
  }
  .slick-prev {
    left: 16px;
  }
  .slick-next {
    right: 15px;
  }
  .blog__item-desc {
    display: flex;
    margin-top: 25px;

    .blog__item-desc-titles {
      max-width: 96px;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      margin-right: 50px;
      h4 {
        color: #e8603c;
      }
      span {
        color: #bababa;
        span {
          margin: 0 5px;
        }
      }
    }
    .blog__item-desc-info {
      font-weight: 400;
      line-height: 18px;
      max-width: 500px;
      width: 100%;
      h4 {
        font-size: 18px;
        color: #e8603c;
        margin-bottom: 20px;
      }
      p {
        font-family: "Helvetica Neue";
        color: #414141;
      }
    }
  }
  &-title{
    color: #e8663c;
    font-size: 18px;
    line-height: normal;
  }
  a{
    color: #a0a0a0;
    font-family: "Helvetica Neue";
    font-size: 12px;
    line-height: 18px;
  }
  .blog__item-chain__desc{
    font-family: "Helvetica Neue";
    font-size: 12px;
    line-height: 18px;
    color: #414141;
  }
}
.line {
  margin: 50px 0;
}
.quote-info{
  padding: 25px 30px 25px 75px;
  background-color: #f5f5f5;
  font-family: "Helvetica Neue";
  color: #474747;
  font-size: 13px;
  font-style: italic;
  line-height: 18px;
  position: relative;
  &::before{
    content: '“';
    font-family: Georgia;
    position: absolute;
    color: #e8663c;
    font-size: 72px;
    left: 20px;
    top: 50%;

  }
}
.pagination{
  margin-bottom: 50px;
  span,li + li{
    margin-right: 4px;
  }
  .pagination__list li a, .pagination__list li span {
    font-size: 14px;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3b29d;
    font-size: 14px;
    color: #ffffff;
    line-height: 18px;
    &.active{
      background-color: #e8663c;
    }
}
}
// end blog
@import "_media";
